.row{
    margin-left: 20px;
    color: #fff;
}

.posters{
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    padding: 20px;
    position: relative;
    
}

.posters::-webkit-scrollbar{
    display: none;
}

.poster{
    max-height: 250px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 0;
}
.small-poster{
    max-height: 150px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 0;
}

.small-poster:hover{
    transform: scale(1.1);
}
.poster:hover{
    transform: scale(1.1);
}

.video-player{
    position: absolute;
    z-index: 999;
    top: 0;
    bottom: 0;
}
.video-player:hover .video-player:focus{
    transform: scale(1.1);

}

